/* register UI */


  .form-title {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
  }
.banner-img {
  background-image: url("../assets/images/banner-image.png");
  background-color: #0E2148;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-img{
  width: 200px;
  height: 180px;
}

  .form-label {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
    color: #555;
  }

  .form-input,
  .form-select {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 20px;
    border: 1.5px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 15px;
    transition: border-color 0.3s;
  }

  .form-input:focus,
  .form-select:focus {
    border-color: #007BFF;
    outline: none;
  }

  .form-buttons {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.form-submit {
  width: 50%; 
  background-color: #007BFF;
  border: none;
  padding: 10px 0;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-submit:hover {
  background-color: #0056b3;
}

.btn {
  display: inline-block;
  text-align: center;
  padding: 10px 0;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  width: 50%;
  border-radius: 40px;
}

.btn-secondary {
  background-color: #0de4ae;
}
.bg-blue{
  background-color: #0E2148;;
}
.nav-link{
  color: white !important;
  font-size: 500 !important;
}
.dropdown-menu {
background-color: #0E2148 !important;

}
.dropdown-item{
color: white !important;
}
.dropdown-item:focus,
.dropdown-item:hover {
  text-decoration: underline !important;
  background-color: #9ec1e4 !important; 
  color: #000 !important; 
}
.table-striped > tbody > tr:nth-of-type(odd) {
  --bs-table-striped-bg: #e6f2ff !important; 
  --bs-table-striped-color: #000 !important;  
}



  @media (min-width: 600px) {
 
      .outer-box {
    max-width: 600px;
    background: rgba(10, 16, 23, 0.8);
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    margin: 28px auto;
    padding: 50px 100px;
    box-shadow: 0 0 15px rgba(27, 26, 26, 0.1);
    border-radius: 8px;
    color: white;
  } 
  }
